# Write to excel file using pandas
1. Create data set as an array of dictionaries
2. Create a DataFame
3. Save the DataFrame content to an excel file
4.

In [2]:
import random
from pandas import DataFrame
import pandas

data_set_1 = [{"id": x, "rVal": random.randint(1,99),  "type": random.choice(["A", "B", "C"]), "location": random.choice(["Porto", "Chicago", "Cairo", "Lagos", "Toronto"]) }  for x in range(100)]
print(data_set_1)

data_frame_1 = DataFrame(data_set_1)
data_frame_1.to_excel("cities.xlsx", sheet_name="Cities")

[{'id': 0, 'rVal': 91, 'type': 'C', 'location': 'Cairo'}, {'id': 1, 'rVal': 87, 'type': 'B', 'location': 'Porto'}, {'id': 2, 'rVal': 45, 'type': 'A', 'location': 'Toronto'}, {'id': 3, 'rVal': 16, 'type': 'C', 'location': 'Toronto'}, {'id': 4, 'rVal': 42, 'type': 'B', 'location': 'Chicago'}, {'id': 5, 'rVal': 91, 'type': 'A', 'location': 'Chicago'}, {'id': 6, 'rVal': 22, 'type': 'A', 'location': 'Toronto'}, {'id': 7, 'rVal': 7, 'type': 'B', 'location': 'Porto'}, {'id': 8, 'rVal': 91, 'type': 'C', 'location': 'Porto'}, {'id': 9, 'rVal': 20, 'type': 'C', 'location': 'Porto'}, {'id': 10, 'rVal': 14, 'type': 'C', 'location': 'Porto'}, {'id': 11, 'rVal': 14, 'type': 'A', 'location': 'Toronto'}, {'id': 12, 'rVal': 23, 'type': 'B', 'location': 'Cairo'}, {'id': 13, 'rVal': 1, 'type': 'A', 'location': 'Cairo'}, {'id': 14, 'rVal': 2, 'type': 'A', 'location': 'Chicago'}, {'id': 15, 'rVal': 46, 'type': 'A', 'location': 'Porto'}, {'id': 16, 'rVal': 27, 'type': 'C', 'location': 'Lagos'}, {'id': 17, 'rVal': 26, 'type': 'C', 'location': 'Porto'}, {'id': 18, 'rVal': 68, 'type': 'B', 'location': 'Lagos'}, {'id': 19, 'rVal': 38, 'type': 'C', 'location': 'Porto'}, {'id': 20, 'rVal': 86, 'type': 'A', 'location': 'Lagos'}, {'id': 21, 'rVal': 90, 'type': 'A', 'location': 'Porto'}, {'id': 22, 'rVal': 28, 'type': 'A', 'location': 'Porto'}, {'id': 23, 'rVal': 66, 'type': 'B', 'location': 'Cairo'}, {'id': 24, 'rVal': 91, 'type': 'C', 'location': 'Cairo'}, {'id': 25, 'rVal': 62, 'type': 'A', 'location': 'Lagos'}, {'id': 26, 'rVal': 41, 'type': 'A', 'location': 'Porto'}, {'id': 27, 'rVal': 86, 'type': 'B', 'location': 'Chicago'}, {'id': 28, 'rVal': 27, 'type': 'A', 'location': 'Porto'}, {'id': 29, 'rVal': 7, 'type': 'A', 'location': 'Chicago'}, {'id': 30, 'rVal': 7, 'type': 'A', 'location': 'Lagos'}, {'id': 31, 'rVal': 32, 'type': 'B', 'location': 'Chicago'}, {'id': 32, 'rVal': 29, 'type': 'A', 'location': 'Chicago'}, {'id': 33, 'rVal': 34, 'type': 'C', 'location': 'Porto'}, {'id': 34, 'rVal': 9, 'type': 'B', 'location': 'Cairo'}, {'id': 35, 'rVal': 78, 'type': 'A', 'location': 'Cairo'}, {'id': 36, 'rVal': 94, 'type': 'B', 'location': 'Lagos'}, {'id': 37, 'rVal': 67, 'type': 'B', 'location': 'Porto'}, {'id': 38, 'rVal': 68, 'type': 'B', 'location': 'Cairo'}, {'id': 39, 'rVal': 21, 'type': 'C', 'location': 'Porto'}, {'id': 40, 'rVal': 3, 'type': 'C', 'location': 'Toronto'}, {'id': 41, 'rVal': 75, 'type': 'B', 'location': 'Lagos'}, {'id': 42, 'rVal': 39, 'type': 'B', 'location': 'Porto'}, {'id': 43, 'rVal': 13, 'type': 'A', 'location': 'Porto'}, {'id': 44, 'rVal': 99, 'type': 'B', 'location': 'Chicago'}, {'id': 45, 'rVal': 31, 'type': 'A', 'location': 'Chicago'}, {'id': 46, 'rVal': 92, 'type': 'A', 'location': 'Porto'}, {'id': 47, 'rVal': 10, 'type': 'B', 'location': 'Lagos'}, {'id': 48, 'rVal': 50, 'type': 'B', 'location': 'Porto'}, {'id': 49, 'rVal': 99, 'type': 'A', 'location': 'Lagos'}, {'id': 50, 'rVal': 73, 'type': 'A', 'location': 'Chicago'}, {'id': 51, 'rVal': 36, 'type': 'A', 'location': 'Porto'}, {'id': 52, 'rVal': 71, 'type': 'A', 'location': 'Porto'}, {'id': 53, 'rVal': 21, 'type': 'A', 'location': 'Toronto'}, {'id': 54, 'rVal': 31, 'type': 'A', 'location': 'Lagos'}, {'id': 55, 'rVal': 27, 'type': 'A', 'location': 'Porto'}, {'id': 56, 'rVal': 71, 'type': 'B', 'location': 'Cairo'}, {'id': 57, 'rVal': 99, 'type': 'B', 'location': 'Porto'}, {'id': 58, 'rVal': 32, 'type': 'C', 'location': 'Porto'}, {'id': 59, 'rVal': 49, 'type': 'A', 'location': 'Toronto'}, {'id': 60, 'rVal': 15, 'type': 'A', 'location': 'Toronto'}, {'id': 61, 'rVal': 23, 'type': 'A', 'location': 'Toronto'}, {'id': 62, 'rVal': 45, 'type': 'B', 'location': 'Chicago'}, {'id': 63, 'rVal': 45, 'type': 'B', 'location': 'Cairo'}, {'id': 64, 'rVal': 32, 'type': 'A', 'location': 'Cairo'}, {'id': 65, 'rVal': 8, 'type': 'B', 'location': 'Cairo'}, {'id': 66, 'rVal': 60, 'type': 'A', 'location': 'Porto'}, {'id': 67, 'rVal': 98, 'type': 'A', 'location': 'Toronto'}, {'id': 68, 'rVal': 47, 'type': 'C', 'location': 'Cairo'}, {'id': 69, 'rVal': 73, 'type': 'A', 'location': 'Porto'}, {'id': 70, 'rVal': 15, 'type': 'B', 'location': 'Cairo'}, {'id': 71, 'rVal': 49, 'type': 'C', 'location': 'Toronto'}, {'id': 72, 'rVal': 29, 'type': 'A', 'location': 'Cairo'}, {'id': 73, 'rVal': 41, 'type': 'C', 'location': 'Toronto'}, {'id': 74, 'rVal': 18, 'type': 'C', 'location': 'Toronto'}, {'id': 75, 'rVal': 89, 'type': 'B', 'location': 'Porto'}, {'id': 76, 'rVal': 4, 'type': 'A', 'location': 'Toronto'}, {'id': 77, 'rVal': 75, 'type': 'B', 'location': 'Cairo'}, {'id': 78, 'rVal': 78, 'type': 'A', 'location': 'Chicago'}, {'id': 79, 'rVal': 48, 'type': 'C', 'location': 'Chicago'}, {'id': 80, 'rVal': 14, 'type': 'B', 'location': 'Cairo'}, {'id': 81, 'rVal': 52, 'type': 'A', 'location': 'Chicago'}, {'id': 82, 'rVal': 78, 'type': 'A', 'location': 'Toronto'}, {'id': 83, 'rVal': 3, 'type': 'A', 'location': 'Chicago'}, {'id': 84, 'rVal': 61, 'type': 'B', 'location': 'Lagos'}, {'id': 85, 'rVal': 40, 'type': 'C', 'location': 'Cairo'}, {'id': 86, 'rVal': 71, 'type': 'C', 'location': 'Chicago'}, {'id': 87, 'rVal': 10, 'type': 'C', 'location': 'Chicago'}, {'id': 88, 'rVal': 62, 'type': 'B', 'location': 'Lagos'}, {'id': 89, 'rVal': 32, 'type': 'A', 'location': 'Cairo'}, {'id': 90, 'rVal': 67, 'type': 'B', 'location': 'Porto'}, {'id': 91, 'rVal': 55, 'type': 'A', 'location': 'Lagos'}, {'id': 92, 'rVal': 40, 'type': 'B', 'location': 'Porto'}, {'id': 93, 'rVal': 58, 'type': 'A', 'location': 'Lagos'}, {'id': 94, 'rVal': 7, 'type': 'C', 'location': 'Lagos'}, {'id': 95, 'rVal': 66, 'type': 'B', 'location': 'Cairo'}, {'id': 96, 'rVal': 96, 'type': 'A', 'location': 'Cairo'}, {'id': 97, 'rVal': 74, 'type': 'C', 'location': 'Cairo'}, {'id': 98, 'rVal': 35, 'type': 'A', 'location': 'Toronto'}, {'id': 99, 'rVal': 17, 'type': 'C', 'location': 'Porto'}]

# Read from excel file into a DataFrame

In [19]:
xlfile : pandas.ExcelFile  = pandas.ExcelFile("cities.xlsx")
data_frame_2 : DataFrame = pandas.read_excel(xlfile, sheet_name="Cities")

    Unnamed: 0  id  rVal type location
2            2   2    45    A  Toronto
3            3   3    16    C  Toronto
4            4   4    42    B  Chicago
5            5   5    91    A  Chicago
6            6   6    22    A  Toronto
11          11  11    14    A  Toronto
14          14  14     2    A  Chicago
27          27  27    86    B  Chicago
29          29  29     7    A  Chicago
31          31  31    32    B  Chicago
32          32  32    29    A  Chicago
40          40  40     3    C  Toronto
44          44  44    99    B  Chicago
45          45  45    31    A  Chicago
50          50  50    73    A  Chicago
53          53  53    21    A  Toronto
59          59  59    49    A  Toronto
60          60  60    15    A  Toronto
61          61  61    23    A  Toronto
62          62  62    45    B  Chicago
67          67  67    98    A  Toronto
71          71  71    49    C  Toronto
73          73  73    41    C  Toronto
74          74  74    18    C  Toronto
76          76  76     4    A  Toronto
78          78  78    78    A  Chicago
79          79  79    48    C  Chicago
81          81  81    52    A  Chicago
82          82  82    78    A  Toronto
83          83  83     3    A  Chicago
86          86  86    71    C  Chicago
87          87  87    10    C  Chicago
98          98  98    35    A  Toronto

# Filter the DataFrame with the query function

In [20]:

data_frame_2.query('location in ["Chicago", "Toronto"]')

    Unnamed: 0  id  rVal type location
2            2   2    45    A  Toronto
3            3   3    16    C  Toronto
4            4   4    42    B  Chicago
5            5   5    91    A  Chicago
6            6   6    22    A  Toronto
11          11  11    14    A  Toronto
14          14  14     2    A  Chicago
27          27  27    86    B  Chicago
29          29  29     7    A  Chicago
31          31  31    32    B  Chicago
32          32  32    29    A  Chicago
40          40  40     3    C  Toronto
44          44  44    99    B  Chicago
45          45  45    31    A  Chicago
50          50  50    73    A  Chicago
53          53  53    21    A  Toronto
59          59  59    49    A  Toronto
60          60  60    15    A  Toronto
61          61  61    23    A  Toronto
62          62  62    45    B  Chicago
67          67  67    98    A  Toronto
71          71  71    49    C  Toronto
73          73  73    41    C  Toronto
74          74  74    18    C  Toronto
76          76  76     4    A  Toronto
78          78  78    78    A  Chicago
79          79  79    48    C  Chicago
81          81  81    52    A  Chicago
82          82  82    78    A  Toronto
83          83  83     3    A  Chicago
86          86  86    71    C  Chicago
87          87  87    10    C  Chicago
98          98  98    35    A  Toronto