# Starting the mongo server
Before running the following segments, run the folloging in the terminal to start the MongoDB service.
`sudo systemctl start mongod`

In [1]:
from pymongo import MongoClient
import pymongo

CONNECTION_STRING = "mongodb://127.0.0.1:27017/?compressors=disabled&gssapiServiceName=mongodb"
from pymongo import MongoClient
client = MongoClient(CONNECTION_STRING)

sampleDB= client["SampleDB"]
sample_data_collection = sampleDB["SampleCollection"]

/home/mike/Code/python3/mongoexample/venv/lib/python3.9/site-packages/pymongo/compression_support.py:56: UserWarning: Unsupported compressor: disabled
  warnings.warn("Unsupported compressor: %s" % (compressor,))
/home/mike/Code/python3/mongoexample/venv/lib/python3.9/site-packages/pymongo/common.py:803: UserWarning: Unknown option gssapiservicename
  warnings.warn(str(exc))

# add a record
create a random number and insert a record with it

In [5]:
import random

rn = random.randint(0, 256)
new_record = {"id": rn, "name": f"record number{rn}" }
print(f"creating new record for number {rn}")
sample_data_collection.insert_one(new_record)

creating new record for number 143

# query for the contents of the collection
Get every item in the data collection

In [6]:
all_items = sample_data_collection.find()
for item in all_items:
    print(f"ID= {item['id']} name= {item['name']}")

ID= 72 name= record number72
ID= 69 name= record number69
ID= 227 name= record number227
ID= 47 name= record number47
ID= 31 name= record number31
ID= 56 name= record number56
ID= 238 name= record number238
ID= 229 name= record number229
ID= 98 name= record number98
ID= 143 name= record number143

# find some of the records based on criteria
Need to use $gt for greater than and $lt for less than
Use the sort() function

In [18]:
items_with_high_ids = sample_data_collection.find({"id":{"$gt":100}}).sort("id")
for item in items_with_high_ids:
    print(f"ID= {item['id']} name= {item['name']}")

print("done showing the results")

ID= 227 name= record number227
ID= 229 name= record number229
ID= 238 name= record number238
done showing the results

# show data with pandas
Put all of the data into a dataframe and print it.

In [20]:
from pandas import DataFrame
all_items = sample_data_collection.find().sort("id")
items_data_frame = DataFrame(all_items)
print(items_data_frame)

                        _id   id              name
0  61ac0e09024480bda952c55e   31   record number31
1  61abe7f4df35ef4a766e642e   47   record number47
2  61ac0e5d024480bda952c55f   56   record number56
3  61abe526df35ef4a766e642c   69   record number69
4  61abe50adf35ef4a766e642b   72   record number72
5  61ac40bb1a0649456fef7c8f   98   record number98
6  61abe7e9df35ef4a766e642d  227  record number227
7  61ac3dfe1a0649456fef7c8e  229  record number229
8  61ac38ec1a0649456fef7c8d  238  record number238

# Read data from an excel file into the MongoDB

In [35]:
import pandas
import random

client = MongoClient('mongodb://127.0.0.1:27017/')

# Create the sample Excel file to use
cities_dataset = [{"id": x, "rVal": random.randint(1,99),  "type": random.choice(["A", "B", "C"]), "location": random.choice(["Porto", "Chicago", "Cairo", "Lagos", "Toronto", "La Paz", "Port au Prince", "Mumbai" ]) }  for x in range(100)]

cities_dataframe = DataFrame(cities_dataset)
cities_dataframe.to_excel("cities2.xlsx", sheet_name="Cities")

# Read from the Excel file
xlfile : pandas.ExcelFile  = pandas.ExcelFile("cities2.xlsx")
cities_dataframe_2 : DataFrame = pandas.read_excel(xlfile, sheet_name="Cities")

sampleDB= client["SampleDB"]
cities_collection = sampleDB["Cities"]

for row in cities_dataframe_2.iterrows():
    row_dict = row[1].to_dict()
    row_dict.pop("Unnamed: 0")
    print(row_dict)
#     cities_collection.insert_one(row.)
    cities_collection.insert_one(row_dict)

{'id': 0, 'rVal': 34, 'type': 'C', 'location': 'La Paz'}
{'id': 1, 'rVal': 49, 'type': 'C', 'location': 'Port au Prince'}
{'id': 2, 'rVal': 32, 'type': 'C', 'location': 'Chicago'}
{'id': 3, 'rVal': 54, 'type': 'C', 'location': 'Chicago'}
{'id': 4, 'rVal': 24, 'type': 'C', 'location': 'Cairo'}
{'id': 5, 'rVal': 66, 'type': 'A', 'location': 'La Paz'}
{'id': 6, 'rVal': 99, 'type': 'B', 'location': 'Porto'}
{'id': 7, 'rVal': 46, 'type': 'B', 'location': 'Chicago'}
{'id': 8, 'rVal': 15, 'type': 'C', 'location': 'Chicago'}
{'id': 9, 'rVal': 36, 'type': 'C', 'location': 'Toronto'}
{'id': 10, 'rVal': 15, 'type': 'C', 'location': 'Port au Prince'}
{'id': 11, 'rVal': 7, 'type': 'B', 'location': 'La Paz'}
{'id': 12, 'rVal': 2, 'type': 'B', 'location': 'Port au Prince'}
{'id': 13, 'rVal': 62, 'type': 'B', 'location': 'La Paz'}
{'id': 14, 'rVal': 48, 'type': 'B', 'location': 'Toronto'}
{'id': 15, 'rVal': 91, 'type': 'B', 'location': 'Mumbai'}
{'id': 16, 'rVal': 6, 'type': 'A', 'location': 'La Paz'}
{'id': 17, 'rVal': 48, 'type': 'B', 'location': 'La Paz'}
{'id': 18, 'rVal': 83, 'type': 'B', 'location': 'Cairo'}
{'id': 19, 'rVal': 7, 'type': 'B', 'location': 'Chicago'}
{'id': 20, 'rVal': 41, 'type': 'B', 'location': 'Toronto'}
{'id': 21, 'rVal': 32, 'type': 'A', 'location': 'Chicago'}
{'id': 22, 'rVal': 84, 'type': 'C', 'location': 'La Paz'}
{'id': 23, 'rVal': 47, 'type': 'B', 'location': 'Lagos'}
{'id': 24, 'rVal': 64, 'type': 'C', 'location': 'Toronto'}
{'id': 25, 'rVal': 97, 'type': 'B', 'location': 'Lagos'}
{'id': 26, 'rVal': 56, 'type': 'B', 'location': 'Porto'}
{'id': 27, 'rVal': 49, 'type': 'A', 'location': 'Chicago'}
{'id': 28, 'rVal': 49, 'type': 'B', 'location': 'Port au Prince'}
{'id': 29, 'rVal': 38, 'type': 'A', 'location': 'Cairo'}
{'id': 30, 'rVal': 81, 'type': 'C', 'location': 'Chicago'}
{'id': 31, 'rVal': 42, 'type': 'A', 'location': 'Toronto'}
{'id': 32, 'rVal': 86, 'type': 'C', 'location': 'Port au Prince'}
{'id': 33, 'rVal': 37, 'type': 'B', 'location': 'Toronto'}
{'id': 34, 'rVal': 38, 'type': 'C', 'location': 'Lagos'}
{'id': 35, 'rVal': 84, 'type': 'C', 'location': 'Chicago'}
{'id': 36, 'rVal': 70, 'type': 'B', 'location': 'Mumbai'}
{'id': 37, 'rVal': 7, 'type': 'B', 'location': 'Cairo'}
{'id': 38, 'rVal': 2, 'type': 'C', 'location': 'Cairo'}
{'id': 39, 'rVal': 52, 'type': 'C', 'location': 'La Paz'}
{'id': 40, 'rVal': 3, 'type': 'B', 'location': 'Lagos'}
{'id': 41, 'rVal': 57, 'type': 'C', 'location': 'Mumbai'}
{'id': 42, 'rVal': 38, 'type': 'C', 'location': 'La Paz'}
{'id': 43, 'rVal': 53, 'type': 'C', 'location': 'Toronto'}
{'id': 44, 'rVal': 51, 'type': 'C', 'location': 'La Paz'}
{'id': 45, 'rVal': 68, 'type': 'C', 'location': 'Mumbai'}
{'id': 46, 'rVal': 50, 'type': 'C', 'location': 'Cairo'}
{'id': 47, 'rVal': 28, 'type': 'C', 'location': 'Port au Prince'}
{'id': 48, 'rVal': 63, 'type': 'B', 'location': 'La Paz'}
{'id': 49, 'rVal': 65, 'type': 'C', 'location': 'La Paz'}
{'id': 50, 'rVal': 56, 'type': 'C', 'location': 'Port au Prince'}
{'id': 51, 'rVal': 53, 'type': 'B', 'location': 'Cairo'}
{'id': 52, 'rVal': 62, 'type': 'A', 'location': 'Chicago'}
{'id': 53, 'rVal': 20, 'type': 'A', 'location': 'Mumbai'}
{'id': 54, 'rVal': 46, 'type': 'B', 'location': 'Porto'}
{'id': 55, 'rVal': 12, 'type': 'B', 'location': 'Cairo'}
{'id': 56, 'rVal': 40, 'type': 'C', 'location': 'Mumbai'}
{'id': 57, 'rVal': 91, 'type': 'B', 'location': 'Chicago'}
{'id': 58, 'rVal': 84, 'type': 'C', 'location': 'Chicago'}
{'id': 59, 'rVal': 4, 'type': 'C', 'location': 'Porto'}
{'id': 60, 'rVal': 75, 'type': 'B', 'location': 'Porto'}
{'id': 61, 'rVal': 47, 'type': 'B', 'location': 'Mumbai'}
{'id': 62, 'rVal': 73, 'type': 'B', 'location': 'Chicago'}
{'id': 63, 'rVal': 69, 'type': 'B', 'location': 'Chicago'}
{'id': 64, 'rVal': 91, 'type': 'B', 'location': 'Mumbai'}
{'id': 65, 'rVal': 26, 'type': 'A', 'location': 'Chicago'}
{'id': 66, 'rVal': 36, 'type': 'B', 'location': 'Cairo'}
{'id': 67, 'rVal': 41, 'type': 'A', 'location': 'Toronto'}
{'id': 68, 'rVal': 9, 'type': 'C', 'location': 'Cairo'}
{'id': 69, 'rVal': 53, 'type': 'B', 'location': 'Port au Prince'}
{'id': 70, 'rVal': 97, 'type': 'B', 'location': 'Lagos'}
{'id': 71, 'rVal': 8, 'type': 'B', 'location': 'Mumbai'}
{'id': 72, 'rVal': 27, 'type': 'B', 'location': 'Toronto'}
{'id': 73, 'rVal': 92, 'type': 'B', 'location': 'Chicago'}
{'id': 74, 'rVal': 98, 'type': 'B', 'location': 'Cairo'}
{'id': 75, 'rVal': 60, 'type': 'A', 'location': 'Chicago'}
{'id': 76, 'rVal': 23, 'type': 'A', 'location': 'Port au Prince'}
{'id': 77, 'rVal': 50, 'type': 'B', 'location': 'Porto'}
{'id': 78, 'rVal': 41, 'type': 'B', 'location': 'Port au Prince'}
{'id': 79, 'rVal': 55, 'type': 'C', 'location': 'Cairo'}
{'id': 80, 'rVal': 17, 'type': 'C', 'location': 'Porto'}
{'id': 81, 'rVal': 28, 'type': 'A', 'location': 'Lagos'}
{'id': 82, 'rVal': 73, 'type': 'C', 'location': 'Toronto'}
{'id': 83, 'rVal': 30, 'type': 'B', 'location': 'Port au Prince'}
{'id': 84, 'rVal': 72, 'type': 'C', 'location': 'La Paz'}
{'id': 85, 'rVal': 67, 'type': 'A', 'location': 'Lagos'}
{'id': 86, 'rVal': 2, 'type': 'C', 'location': 'Chicago'}
{'id': 87, 'rVal': 78, 'type': 'A', 'location': 'Chicago'}
{'id': 88, 'rVal': 30, 'type': 'B', 'location': 'Lagos'}
{'id': 89, 'rVal': 53, 'type': 'B', 'location': 'Lagos'}
{'id': 90, 'rVal': 6, 'type': 'C', 'location': 'Toronto'}
{'id': 91, 'rVal': 2, 'type': 'B', 'location': 'Lagos'}
{'id': 92, 'rVal': 13, 'type': 'B', 'location': 'Toronto'}
{'id': 93, 'rVal': 16, 'type': 'B', 'location': 'Lagos'}
{'id': 94, 'rVal': 83, 'type': 'A', 'location': 'Porto'}
{'id': 95, 'rVal': 78, 'type': 'B', 'location': 'La Paz'}
{'id': 96, 'rVal': 85, 'type': 'B', 'location': 'Toronto'}
{'id': 97, 'rVal': 22, 'type': 'C', 'location': 'La Paz'}
{'id': 98, 'rVal': 39, 'type': 'C', 'location': 'Lagos'}
{'id': 99, 'rVal': 56, 'type': 'C', 'location': 'Porto'}

# Shutting down the MongoDB service
`sudo systemctl stop mongod`