# Use dictionary data as a data source and pivot on it
1. Create an array of dictionaries with sample data
2. Add it to a DataFrame
3. Pivot the data

In [20]:
import random
# create some sample data
import pandas as pd

data_set_1 = [{"id": x, "rVal": random.randint(1,99),  "type": random.choice(["A", "B", "C"]), "location": random.choice(["Osaka", "Philadelphia", "Tunis", "Busan", "Nairobi"]) }  for x in range(100)]
print(data_set_1)

[{'id': 0, 'rVal': 38, 'type': 'A', 'location': 'Tunis'}, {'id': 1, 'rVal': 1, 'type': 'C', 'location': 'Osaka'}, {'id': 2, 'rVal': 86, 'type': 'C', 'location': 'Philadelphia'}, {'id': 3, 'rVal': 28, 'type': 'C', 'location': 'Busan'}, {'id': 4, 'rVal': 16, 'type': 'A', 'location': 'Nairobi'}, {'id': 5, 'rVal': 7, 'type': 'A', 'location': 'Tunis'}, {'id': 6, 'rVal': 91, 'type': 'B', 'location': 'Philadelphia'}, {'id': 7, 'rVal': 52, 'type': 'C', 'location': 'Osaka'}, {'id': 8, 'rVal': 36, 'type': 'B', 'location': 'Osaka'}, {'id': 9, 'rVal': 44, 'type': 'C', 'location': 'Osaka'}, {'id': 10, 'rVal': 62, 'type': 'B', 'location': 'Tunis'}, {'id': 11, 'rVal': 27, 'type': 'A', 'location': 'Philadelphia'}, {'id': 12, 'rVal': 84, 'type': 'B', 'location': 'Busan'}, {'id': 13, 'rVal': 39, 'type': 'B', 'location': 'Osaka'}, {'id': 14, 'rVal': 81, 'type': 'A', 'location': 'Nairobi'}, {'id': 15, 'rVal': 97, 'type': 'A', 'location': 'Nairobi'}, {'id': 16, 'rVal': 56, 'type': 'A', 'location': 'Busan'}, {'id': 17, 'rVal': 81, 'type': 'C', 'location': 'Busan'}, {'id': 18, 'rVal': 86, 'type': 'A', 'location': 'Busan'}, {'id': 19, 'rVal': 41, 'type': 'A', 'location': 'Philadelphia'}, {'id': 20, 'rVal': 19, 'type': 'C', 'location': 'Busan'}, {'id': 21, 'rVal': 1, 'type': 'A', 'location': 'Philadelphia'}, {'id': 22, 'rVal': 59, 'type': 'A', 'location': 'Osaka'}, {'id': 23, 'rVal': 74, 'type': 'C', 'location': 'Busan'}, {'id': 24, 'rVal': 45, 'type': 'C', 'location': 'Busan'}, {'id': 25, 'rVal': 48, 'type': 'C', 'location': 'Tunis'}, {'id': 26, 'rVal': 33, 'type': 'B', 'location': 'Tunis'}, {'id': 27, 'rVal': 92, 'type': 'B', 'location': 'Osaka'}, {'id': 28, 'rVal': 92, 'type': 'B', 'location': 'Tunis'}, {'id': 29, 'rVal': 16, 'type': 'A', 'location': 'Osaka'}, {'id': 30, 'rVal': 70, 'type': 'A', 'location': 'Philadelphia'}, {'id': 31, 'rVal': 14, 'type': 'C', 'location': 'Busan'}, {'id': 32, 'rVal': 22, 'type': 'C', 'location': 'Nairobi'}, {'id': 33, 'rVal': 79, 'type': 'C', 'location': 'Tunis'}, {'id': 34, 'rVal': 24, 'type': 'C', 'location': 'Nairobi'}, {'id': 35, 'rVal': 96, 'type': 'C', 'location': 'Nairobi'}, {'id': 36, 'rVal': 42, 'type': 'C', 'location': 'Tunis'}, {'id': 37, 'rVal': 13, 'type': 'B', 'location': 'Busan'}, {'id': 38, 'rVal': 39, 'type': 'C', 'location': 'Nairobi'}, {'id': 39, 'rVal': 83, 'type': 'C', 'location': 'Philadelphia'}, {'id': 40, 'rVal': 76, 'type': 'B', 'location': 'Osaka'}, {'id': 41, 'rVal': 90, 'type': 'C', 'location': 'Nairobi'}, {'id': 42, 'rVal': 14, 'type': 'A', 'location': 'Osaka'}, {'id': 43, 'rVal': 40, 'type': 'B', 'location': 'Busan'}, {'id': 44, 'rVal': 40, 'type': 'A', 'location': 'Busan'}, {'id': 45, 'rVal': 90, 'type': 'A', 'location': 'Osaka'}, {'id': 46, 'rVal': 99, 'type': 'B', 'location': 'Philadelphia'}, {'id': 47, 'rVal': 12, 'type': 'C', 'location': 'Busan'}, {'id': 48, 'rVal': 60, 'type': 'B', 'location': 'Philadelphia'}, {'id': 49, 'rVal': 58, 'type': 'B', 'location': 'Philadelphia'}, {'id': 50, 'rVal': 25, 'type': 'C', 'location': 'Philadelphia'}, {'id': 51, 'rVal': 17, 'type': 'B', 'location': 'Tunis'}, {'id': 52, 'rVal': 56, 'type': 'C', 'location': 'Nairobi'}, {'id': 53, 'rVal': 81, 'type': 'B', 'location': 'Philadelphia'}, {'id': 54, 'rVal': 14, 'type': 'C', 'location': 'Osaka'}, {'id': 55, 'rVal': 85, 'type': 'B', 'location': 'Nairobi'}, {'id': 56, 'rVal': 55, 'type': 'B', 'location': 'Busan'}, {'id': 57, 'rVal': 26, 'type': 'C', 'location': 'Philadelphia'}, {'id': 58, 'rVal': 7, 'type': 'A', 'location': 'Nairobi'}, {'id': 59, 'rVal': 13, 'type': 'C', 'location': 'Osaka'}, {'id': 60, 'rVal': 12, 'type': 'A', 'location': 'Tunis'}, {'id': 61, 'rVal': 40, 'type': 'C', 'location': 'Philadelphia'}, {'id': 62, 'rVal': 78, 'type': 'B', 'location': 'Osaka'}, {'id': 63, 'rVal': 46, 'type': 'B', 'location': 'Busan'}, {'id': 64, 'rVal': 27, 'type': 'A', 'location': 'Tunis'}, {'id': 65, 'rVal': 3, 'type': 'C', 'location': 'Busan'}, {'id': 66, 'rVal': 44, 'type': 'B', 'location': 'Nairobi'}, {'id': 67, 'rVal': 9, 'type': 'A', 'location': 'Busan'}, {'id': 68, 'rVal': 97, 'type': 'B', 'location': 'Tunis'}, {'id': 69, 'rVal': 36, 'type': 'C', 'location': 'Busan'}, {'id': 70, 'rVal': 15, 'type': 'C', 'location': 'Busan'}, {'id': 71, 'rVal': 39, 'type': 'C', 'location': 'Nairobi'}, {'id': 72, 'rVal': 41, 'type': 'C', 'location': 'Tunis'}, {'id': 73, 'rVal': 96, 'type': 'B', 'location': 'Tunis'}, {'id': 74, 'rVal': 63, 'type': 'A', 'location': 'Tunis'}, {'id': 75, 'rVal': 20, 'type': 'C', 'location': 'Tunis'}, {'id': 76, 'rVal': 75, 'type': 'B', 'location': 'Philadelphia'}, {'id': 77, 'rVal': 10, 'type': 'B', 'location': 'Nairobi'}, {'id': 78, 'rVal': 58, 'type': 'C', 'location': 'Philadelphia'}, {'id': 79, 'rVal': 35, 'type': 'A', 'location': 'Tunis'}, {'id': 80, 'rVal': 23, 'type': 'B', 'location': 'Tunis'}, {'id': 81, 'rVal': 40, 'type': 'A', 'location': 'Nairobi'}, {'id': 82, 'rVal': 28, 'type': 'C', 'location': 'Busan'}, {'id': 83, 'rVal': 93, 'type': 'A', 'location': 'Busan'}, {'id': 84, 'rVal': 95, 'type': 'C', 'location': 'Nairobi'}, {'id': 85, 'rVal': 55, 'type': 'A', 'location': 'Busan'}, {'id': 86, 'rVal': 91, 'type': 'B', 'location': 'Nairobi'}, {'id': 87, 'rVal': 27, 'type': 'B', 'location': 'Philadelphia'}, {'id': 88, 'rVal': 84, 'type': 'C', 'location': 'Osaka'}, {'id': 89, 'rVal': 34, 'type': 'C', 'location': 'Osaka'}, {'id': 90, 'rVal': 1, 'type': 'C', 'location': 'Busan'}, {'id': 91, 'rVal': 5, 'type': 'C', 'location': 'Osaka'}, {'id': 92, 'rVal': 72, 'type': 'A', 'location': 'Busan'}, {'id': 93, 'rVal': 75, 'type': 'A', 'location': 'Nairobi'}, {'id': 94, 'rVal': 31, 'type': 'B', 'location': 'Busan'}, {'id': 95, 'rVal': 8, 'type': 'C', 'location': 'Philadelphia'}, {'id': 96, 'rVal': 86, 'type': 'C', 'location': 'Tunis'}, {'id': 97, 'rVal': 7, 'type': 'B', 'location': 'Tunis'}, {'id': 98, 'rVal': 49, 'type': 'A', 'location': 'Tunis'}, {'id': 99, 'rVal': 64, 'type': 'B', 'location': 'Busan'}]

## Create a data frame and print it

In [21]:
from pandas import DataFrame

data_frame_1 = pd.DataFrame(data_set_1) #, index=["id", "location", "rVal"])
print(data_frame_1)

    id  rVal type      location
0    0    38    A         Tunis
1    1     1    C         Osaka
2    2    86    C  Philadelphia
3    3    28    C         Busan
4    4    16    A       Nairobi
..  ..   ...  ...           ...
95  95     8    C  Philadelphia
96  96    86    C         Tunis
97  97     7    B         Tunis
98  98    49    A         Tunis
99  99    64    B         Busan

[100 rows x 4 columns]

## Pivot the data

In [22]:
data_frame_1.pivot_table(index="type", columns="location", values="rVal")

location      Busan    Nairobi   Osaka  Philadelphia      Tunis
type
A         58.714286  52.666667  44.750     34.750000  33.000000
B         47.571429  57.500000  64.200     70.142857  53.375000
C         29.666667  57.625000  30.875     46.571429  52.666667

## Create a DataFrame based on series of data

In [23]:
RECORD_LIMIT : int = 20

data_set_2 = {
    "location": [random.choice(["Victoria", "Miami", "Tel Aviv", "Rotterdam"]) for i in range(RECORD_LIMIT)],
    "type": [random.choice(["A", "B", "C"]) for i in range(RECORD_LIMIT)],
    "rVal" : [random.randint(0,99) for i in range(RECORD_LIMIT)],
    "id" : [i for i in range(RECORD_LIMIT)]

}
data_frame_2 = DataFrame(data_set_2)
print(data_frame_2)

     location type  rVal  id
0   Rotterdam    A    97   0
1       Miami    B    76   1
2       Miami    B     9   2
3    Victoria    A    44   3
4    Victoria    C    81   4
5    Tel Aviv    A    76   5
6       Miami    A     7   6
7    Tel Aviv    C    66   7
8   Rotterdam    A    70   8
9    Victoria    A    65   9
10  Rotterdam    B    60  10
11      Miami    B    25  11
12      Miami    A    58  12
13   Tel Aviv    C    44  13
14   Victoria    A    76  14
15  Rotterdam    C    97  15
16   Victoria    A    38  16
17   Tel Aviv    B    62  17
18  Rotterdam    B    34  18
19   Tel Aviv    B    74  19

# Filter the DataFrame
Use the query method to filter a DataFrame

In [24]:
data_frame_2.query('type =="A"')

     location type  rVal  id
0   Rotterdam    A    97   0
3    Victoria    A    44   3
5    Tel Aviv    A    76   5
6       Miami    A     7   6
8   Rotterdam    A    70   8
9    Victoria    A    65   9
12      Miami    A    58  12
14   Victoria    A    76  14
16   Victoria    A    38  16

# Pivot the DataFrame
 Make the locations into rows and user the type values as columns

In [11]:
pd.pivot_table(data_frame_2, values="rVal", index=["location"],  columns="type")

type               A      B          C
location
Miami      27.000000  65.00        NaN
Rotterdam  65.500000  31.25  36.666667
Tel Aviv   74.333333    NaN  81.000000
Victoria         NaN    NaN  71.000000